footer{
    background-color: #F0F4F8;
    padding: 50px 0px;
}
.footer__search{
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}
.footer__logo{
    margin-right: 100px;
}
.input{
    position: absolute;
    top: 14px;
    left: 370px;
}
input{
    padding: 10px 300px;
}
.footer__cards{
    padding: 60px 0px;
    display: flex;
    gap: 80px;
}
.footer__card-number{
    color: blue;
    font-size: 30px;
    padding-top: 20px;
}
.footer__card-title{
    padding: 17px 0px;
    color: blue;
}
.footer__card-item{
    padding: 10px 0px;
}
.footer__card-location{
    padding-top: 40px;
    color: blue;
}
.footer__card-time{
    padding-bottom: 40px;
}
.footer__card-lastinfos{
    color: blue;
    opacity: 0.5;
    font-size: 12px;
    
}
.footer__card-lastinfos-title{
    padding: 20px 0px;
}
.footer__card-lastinfos-dates{
    display: flex;
    padding: 30px 0px;
    gap: 60px;
}
@media(max-width:1300px){
    .footer__search i{
        display: none;
    }
    .footer__search{
        flex-wrap: wrap;
    }

    .footer__search input{
        width: 100%;
        padding: 10px 20px;
    }
    .footer__cards{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width:276px){
    .footer__logo{
        width: 100%;
        margin-right: 0px;
    }
    .footer__logo img{
        width: 100%;
    }
    .footer__card-item{
        font-size: 14px;
    }
    .footer__card-title{
        font-size: 17px;
    }
    .footer__card-number{
        font-size: 17px;
    }
    .footer__card-location{
        font-size: 15px;
    }
    .footer__card-link{
        font-size: 13px;
    }
    .footer__card-time{
        font-size: 13px;
    }
    .footer__card-lastinfos-dates{
        flex-wrap: wrap;
    }
}
