.recomend__1line{
    display: flex;
    gap: 20px;
}
.recomend{
    padding: 100px 0px;
}
.recomend__title{
    font-size: 40px;
    padding: 30px 0px;
}
.recomend__infos{
    display: flex;
    align-items: center;
    width: 700px;
    padding: 10px 35px;
    background-color: #F0F4F8;
}
.recomend__card-desc{
    opacity: 0.6;
}
.recomend__card-title{
    font-size: 27px;
    padding: 10px 0px;
}
.recomend__card-pers{
    display: flex;
    gap: 40px;
    padding: 10px 0px;
}
.recomend__card-per-number{
    font-size: 30px;
    color: #355DFB;
}
.recomend__card-desc2{
    width: 350px;
    opacity: 0.6;
    padding: 10px 0px;
}
.recomend__card-img img{
    width: 300px;
    padding-bottom: 0px;
}
.recomend__card-btns{
    display: flex;
    gap: 10px;
    padding: 20px 0px;
}
.recomend__card-invest-btn{
    font-weight: 600;
    padding: 9px 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #0000DE;
}
.recomend__card-invest-btn:hover{
    background-color: #0000DE;
    color: white;
}
.recomend__card-invest-btn2{
    font-weight: 600;
    padding: 15px 40px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    color: #0000DE;
}
.recomend__card-invest-btn2:hover{
    background-color: #0000DE;
    color: white;
}
.recomend__right{
    background-color: #F0F4F8;
    width: 460px;
    padding: 10px 30px;
    position: relative;
}
.recomend__right-btns{
    display: flex;
    gap: 10px;
    padding: 20px 0px;
}
.recomend__right-invest-btn{
    font-weight: 600;
    padding: 9px 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #0000DE;
}
.recomend__right-invest-btn:hover{
    background-color: #0000DE;
    color: white;
}
.recomend__right-invest-btn2{
    font-weight: 600;
    padding: 15px 40px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    color: #0000DE;
}
.recomend__right-invest-btn2:hover{
    background-color: #0000DE;
    color: white;
}
.recomend__right-desc{
    opacity: 0.6;
}
.recomend__right-title{
    font-size: 28px;
    padding: 5px 0px;
}
.recomend__right-numbers{
    display: flex;
    gap: 20px;
    padding: 9px 0px;
}
.recomend__right-per-title{
    color: #0000DE;
    font-size: 29px;
}
.recomend__right-desc2{
    width: 220px;
    opacity: 0.6;
    padding: 10px 0px;
}
.recomend__right-img{
    position: absolute;
    top: 10px;
    right: 0px;
}
.recomend__2ndline{
    display: flex;
    gap: 20px;
    padding: 20px 0px;
}
.recomend__2line{
    background-color: #F0F4F8;
    width: 460px;
    padding: 10px 30px;
    position: relative;
}
.recomend__2line-btns{
    display: flex;
    gap: 10px;
    padding: 20px 0px;
}
.recomend__2line-invest-btn{
    font-weight: 600;
    padding: 9px 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #0000DE;
}
.recomend__2line-invest-btn:hover{
    background-color: #0000DE;
    color: white;
}
.recomend__2line-invest-btn2{
    font-weight: 600;
    padding: 15px 40px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    color: #0000DE;
}
.recomend__2line-invest-btn2:hover{
    background-color: #0000DE;
    color: white;
}
.recomend__2line-desc{
    opacity: 0.6;
}
.recomend__2line-title{
    font-size: 28px;
    padding: 5px 0px;
}
.recomend__2line-numbers{
    display: flex;
    gap: 20px;
    padding: 9px 0px;
}
.recomend__2line-per-title{
    color: #0000DE;
    font-size: 29px;
}
.recomend__2line-desc2{
    width: 220px;
    opacity: 0.6;
    padding: 10px 0px;
}
.recomend__2line-img{
    position: absolute;
    top: 10px;
    right: 0px;
}
.recomend__2line2{
    display: flex;
    gap: 20px;
    position: relative;
    width: 700px;
    padding: 10px 25px;
    background-color: #F0F4F8;
}
.recomend__2line2-desc{
    opacity: 0.6;
}
.recomend__2line2-title{
    font-size: 27px;
    padding: 10px 0px;
}
.recomend__2line2-pers{
    display: flex;
    gap: 40px;
    padding: 10px 0px;
}
.recomend__2line2-per-num{
    font-size: 30px;
    color: #355DFB;
}
.recomend__2line2-desc2{
    width: 350px;
    opacity: 0.6;
    padding: 10px 0px;
}
.recomend__2line2-img img{
    width: 300px;
    padding-bottom: 0px;
}
.recomend__2line2-img{
    position: absolute;
    top: 10px;
    right: 0px;
}
.recomend__2line2-btns{
    display: flex;
    gap: 10px;
    padding: 20px 0px;
}
.recomend__2line2-invest-btn{
    font-weight: 600;
    padding: 9px 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #0000DE;
}
.recomend__2line2-invest-btn:hover{
    background-color: #0000DE;
    color: white;
}
.recomend__2line2-invest-btn2{
    font-weight: 600;
    padding: 15px 40px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    color: #0000DE;
}
.recomend__2line2-invest-btn2:hover{
    background-color: #0000DE;
    color: white;
} 