.yearly__info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    gap: 50px;
    height: 71vh;
}
.left__title{
    font-size: 50px;
    width: 700px;
}
.left__desc{
    font-size: 20px;
    padding: 30px 0px;
}
.left__btns{
    display: flex;
    align-items: center;
    gap: 30px;
}
.left__invest-btn{
    font-weight: 600;
    padding: 15px 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #0000DE;
}
.left__invest-btn:hover{
    background-color: #0000DE;
    color: white;
}
.left__invest-btn2{
    font-weight: 600;
    padding: 15px 40px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    color: #0000DE;
}
.left__invest-btn2:hover{
    background-color: #0000DE;
    color: white;
}
.left__dot-imgs img{
    width: 15px;
}
.right{
    position: relative;
}
.right__img img{
    width: 400px;
    padding: 0;
}
.right__img2{
    position: absolute;
    top: -15px;
    left: -10px;
}
.right__img2 img{
    width: 400px;
}
.right__btns{
    position: absolute;
    right: -80px;
    bottom: 40px;
    
}
.right__left-btn{
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
}
.right__left-btn:hover{
    background-color: skyblue;
}
.right__right-btn:hover{
    background-color: skyblue;
}
.right__right-btn{
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
}
@media(max-width:1400px){
    .yearly__info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 100px 80px;
        height: 150vh;
    }
    .left__btns{
        flex-wrap: wrap;
        justify-content: center;
    }
    .left__title{
        display: block;
        width: 100%;
        text-align: center;
    }
    .left__desc{
        text-align: center;
    }
    .right__img img{
        width: 100%;
    }
    .right__img2 img{
        width: 100%;
    }
}
@media(max-width:475px){
    .yearly__info{
        margin: 100px 30px;

    }
    .right__btns{
        display: none;
    }
    .left__title{
        font-size: 24px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .left__desc{
        font-size: 13px ;
    }
    .left__invest-btn{
        padding: 4px 10px;
        font-size: 12px;
        width: 100%;
    }
    .left__invest-btn2{
        padding: 4px 10px;
        font-size: 12px;
        width: 100%;
    }
}
@media(max-width:200px){
    .left__btns{
        width: 100%;
    }
    .yearly__info{
        margin: 150px 25px;
        height: 100vh;
    }
    .left__title{
        font-size: 12px;

    }
    .left__desc{
        font-size: 8px;
    }
}